/* ----------------
   Table of content

   1. Global Styles
   2. Header
   3. Hero section
   4. information
   5. Quote

*/

/* ----------------
   1. Global Styles
   ---------------- */

body{
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;   
   
}

a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;  
}

ul{
    display: flex;
    list-style: none;
    gap: 1rem;
}


/* ---------
   2. Header
   --------- */

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1f2937;
    color: #f0faf8;
    font-size: 24px;
    padding: 0 64px;
}


/* ---------------
   3. Hero section
   --------------- */

.hero-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1f2937;
    padding: 0 64px;

}

.hero-card{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    color: #e5e7eb;
    gap: 10px;
    flex: 0 1 500px;
    
}

.hero-header{
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
}

.hero-text{
    font-size: 18px;
    font-weight: 400;

}

.hero-button{
    background: #3882f6;
    border:#3882f6;
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
    width: 150px;
    margin-bottom: 16px;
    
}

.hero-img{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 1 500px;
    background: lightgrey;
    font-size: 16px;
    
}

/* --------------
   4. Information
   -------------- */


.information-container{
    display: flex;
    flex-direction: column;
    
}

.information-options-container{
    display: flex;
    justify-content: space-around;
    padding: 0 128px;

}

.information-header{
    text-align: center;
    padding: 32px 0;
}

.options>img{
    display: flex;
    align-items: center;
    justify-content: center;
    outline: auto;
    height: 100px;
    width: 100px;
    border-radius: 20px;
}

.options>p{
    text-align: center;
}

.options{
    margin-bottom: 64px;
}

/* --------
   5. Quote 
   -------- */

.quote-container{
    background: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px 64px;
}

.quote{
    font-size: 36px;
    color: #1f2937;
    font-weight: lighter;
    margin: 0;

}

.quote-sayer{
    text-align: right;
}

/* -----------------
   6. Call to action
   ----------------- */

.call-to-action{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #3882f6;
    margin: 64px 64px;
    padding: 0 32px;
}

.cta-card{
    color: #e5e7eb;   
}

.cta-text{
    font-size: 12px;
}

button{
    background: #3882f6;
    border-color: white;
    color: #ffffff;
    border-radius: 10px;
    padding: 10px 20px;
}
